@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes backgroundMove {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.animated-background {
    animation: backgroundMove 30s linear infinite;
    background-size: 200% -200% !important;
}
